@media only screen and (max-width: 480px) {

    .TITLES {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .INFO {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1.4;
        text-align: left;
    }

    .WORK {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
        text-align: left;
    }

    button {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 16px;
        padding: 15px;
        border-radius: 10px;
        margin-top: 30px;
    }
}
    }
